<app-navbar></app-navbar>
<div class="text">
  <h1>Active courses:</h1>
</div>
<div class="coursesList" *ngFor="let msg of this.data">
  <h1>
    {{msg.course_name}} | {{msg.course_description}} | Course ID: {{msg.course_id}}
  </h1>
</div>
