<div class="navbar">
  <a class="a" href="home">Home</a>
  <a class="a" href="courses">Courses</a>
  <a class="a" href="admins/users">Users</a>
  <a class="a" href="admins/applications">Applications</a>
  <a class="a" href="register">Register</a>
  <a class="a" href="login">Login</a>
</div>
<img class="logo" src="../../assets/logo.png">
