h1 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  text-align: center;
}

h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
}

body,
input[type="text"],
button {
  color: #888;
  font-family: Cambria, Georgia;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

form {
  background-color: rgb(44, 192, 44);
}

.logo {
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.6);
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: rgb(255, 255, 255);
  color: black;
}

.img {
  margin-top: 500px;
}
