<app-navbar></app-navbar>
<div class="text">
  <h1>Active users:</h1>
</div>
<div class="coursesList" *ngFor="let msg of this.data">
  <h1>
    Name: {{msg.FirstName}} {{msg.LastName}} <br>
  </h1>
</div>
