<app-navbar></app-navbar>
<form>
    <div class="container">
      <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
      <hr>
  
      <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
      <button type="submit" class="registerbtn">Register</button>
    </div>
  </form>

<!-- <h1>Register</h1>
<hr>
<div>
  <form>
    <div class="form-group">
      <label for="email">Email:</label>
      <input #emailInput name="email" required id="email" type="text" class="form-control" placeholder="Email..." />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input #passwordInput name="password" required id="password" type="password" class="form-control" placeholder="Password..." />
    </div>
    
    <button type="button" class="btn btn-primary" (click)="this.register({ email: emailInput.value, password: passwordInput.value})">Submit</button>
    <button type="button" class="btn btn-primary" (click)="this.cancel()">Cancel</button>
  </form>
</div> -->
